<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="../images/favicon.ico">
  <title>Pokemon</title>
  <link rel="stylesheet" href="nav2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="grid-container">
    <header> 
      <div class="wrapper">
        <nav>
          <input type="checkbox" id="show-search">
          <input type="checkbox" id="show-menu">
          <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
          <div class="content">
            <!-- <div class="logo"><a href="#">CodingNepal</a></div> -->
            <div class="logo"><img  class="logo" src='../images/pokeLogo.png' /></div>
            
            <ul class="links">
              <li><a href="/home">Home</a></li>
              <li><a href="/newPokemon">New Pokemon</a></li>
              <li>
                <a href="#" class="desktop-link">Filter</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Filter</label>
                <ul>
                  <li><a href="#">normal</a></li>
                  <li><a href="#">fighting</a></li>
                  <li><a href="#">flying</a></li>
                  <li><a href="#">poison</a></li>
                  <li><a href="#">ground</a></li>
                  <li><a href="#">rock</a></li>
                  <li><a href="#">bug</a></li>
                  <li><a href="#">ghost</a></li>
                  <li><a href="#">steel</a></li>
                  <li><a href="#">fire</a></li>
                  <li><a href="#">water</a></li>
                  <li><a href="#">grass</a></li>
                  <li><a href="#">electric</a></li>
                  <li><a href="#">psychic</a></li>
                  <li><a href="#">ice</a></li>
                  <li><a href="#">dragon</a></li>
                  <li><a href="#">dark</a></li>
                  <li><a href="#">fairy</a></li>
                  <li><a href="#">unknown</a></li>
                  <li><a href="#">shadow</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="desktop-link">Order</a>
                <input type="checkbox" id="show-services">
                <label for="show-services">Order</label>
                <ul>
                  <li><a href="#">Api Poke</a></li>
                  <li><a href="#">Data Base</a></li>
                  <li><a href="#">AZ</a></li>
                  <li><a href="#">ZA</a></li>
                  <li><a href="#">Strongest</a></li>
                  <li><a href="#">Weakest</a></li>
                </ul>
              </li>
              <li><a href="#">About</a></li>
            </ul>
          </div>
          
          
          <li class="search-icon">
            <input type="search" placeholder="Search a Pokemon">
            <label class='icon'>
              <span class="fas fa-search"></span>
            </label>
          </li>
        </nav>
      </div>
      
    </header>
      
      <div>
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>
            
           
            
            
            
          </div>
        </div>
      </main>
    </div>
    <footer>
      <a href='previous.html'class="row center a">Previous</a>
      <a href='next.html'class="row center a">Next</a>
  </footer>
  </div>
  </body>
  </html>
  
  



