@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
}

 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
   /*  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5) */
  } 

.row.center {
    justify-content: center;
    padding: 1rem;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5)
}

.row.center .card:hover {
    color: #ff8000;

}

/* Image */
img {
    border-radius: 0.5rem;
    margin: 1rem;
    height:10em;
    width:8em;
    object-fit: contain;
}


/* Card */

.card {
    border: 0.1rem #000000 solid;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    margin: 1.8rem;
    margin-top: 4rem;
    text-decoration: none;
    width: 14em;
    height: 18em;
    padding: 3em;
    transition: .35s;
  }
  
  .card-body > * {
    margin: 0.5rem;
    color: #000000;
    text-align: center;
  }

.card:hover{
  text-decoration: none;
  box-shadow: 3px 3px 16px rgb(20 20 20 / 80%); 
  transform: scale(1.05);
}  


/* Common */
.card-body h1 {
    font-size: 2rem;
    padding: 0rem 0;
    text-decoration: none;
   

  }

.card-body h4 {
    font-size: 0.8rem;
    padding: 0rem 0;
    text-decoration: none;
  }

  