<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="pokemon1.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <title>Pokemon</title>
  </head>
  <body>
    <!-- <div>
      <img  class="logo" src='../images/pokeLogo.png' />
    </div>
    <div>
        <a href="signin.html">Home</a>
        <a href="cart.html">New Pokemon</a>
        <a href="signin.html">View</a>
        <a  class='right' href="signin.html">Search Bar</a>
    </div> -->
    <div class="grid1">
      <header class="row">
        <div>
          <a href="signin.html">Home</a>
          <a href="cart.html">New Pokemon</a>
          <a href="signin.html">View</a>
          <a  class='right' href="signin.html">About</a>
           <span>
             <input type='text' name='box' placeholder="Search a Pokemon">
            <button type="submit">🔍</button>
            <span>
          

        </div>
        <div class="small">
          <img src='../images/pokeLogo.png' />
        </div>
      </header>

      
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="../images/poke1.svg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Charizard</h2>
                  <h4>Tipos</h4>
                </a>
              </div>
            </div>

            


          </div>
        </div>
      </main>
      <footer class="row center a">
          <a href='previous.html'class="row center a">Previous</a>
          <a href='next.html'class="row center a">Next</a>
      </footer>
    </div>
  </body>
</html>