html {
    font-family: 'Press Start 2P', cursive;
    font-size: 50%; /* 16px x 62.5 = 10px = 1rem */
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
  }
  
  /* Layout */
  .grid-container {
  }
  header {
    grid-area: header;
    background-color: #ff0000;
    height: 110%;
    
    
  }
  
  .logo{
    position: fixed;
    right: 650px;
    
  }
  .right {
    display: inline-flex;
    align-items: flex-end;
    justify-content: right;
  }
  main {
    grid-area: main;
    padding: 1rem;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
    grid-area: footer;
    background-color: #ff0000;
    color: #ffffff;
    justify-content: center;
  }
  /* Common */
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  
  a {
  }
  a:hover {
    color: #ff8000;
  }
  /* Header */
  header a {
    color: #ffffff;
    padding: 1rem;
    text-decoration: none;
  }
  a.brand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .row.center {
    justify-content: center;
  }
  /* Image */
  img {
    border-radius: 0.5rem;
  }
  img.medium {
    max-width: 20rem;
    width: 100%;
  }
  
  /* Card */
  .card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .card-body {
    padding: 1rem;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  .price {
    font-size: 2rem;
  }
  /* Rating */
  .rating span {
    color: #f0c040;
    margin: 0.1rem;
  }