@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Landingpage{
    background-image: url('https://i.imgur.com/iWdJwQU.gif');
    background-size: cover;
    background-position: center 70%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }



.btn {
  position: fixed;
  right: 400px;
  margin-top: 30px;
  background-color: transparent;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  background-size: 200% auto;
  color: white;
  border: none;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  border: 1px solid;
  border-radius: 20px;
}




