
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
  } 

.row.center {
    justify-content: center;
    color: #ffffff;
    padding: 1rem;
}


.row.center .card:hover {
    color: #ff8000;

}

/* Image */
img {
    border-radius: 0.5rem;
    margin: 1rem;
    margin-left: 2px;
}
img.medium {
    max-width: 18rem;    /* Image si quiero que hayan 3 filas de 4 poner 26 rem */
    width: 90%; 
}


/* Card */

.bigcard {
    border: 0.1rem #000000 solid;
    background-color: #f8f8f8;
    border-radius: 1rem;
    margin: 1.8rem;
    margin-top: 4rem;
    text-decoration: none;
    width: 60em;
    height: 100%;
    padding: 2em;
  }

  .large {
   position: absolute;
   right: 650px;
   top:120px;
  }

  .detail .bigcard .large {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .detail{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .card-body1 > * {
    color: #000000;
    text-align: center; 
    margin-top: 130px; 

  }

 

 
/* Common */
.card-body1 h1 {
    font-size: 2rem;
    padding: 0rem ;
    text-decoration: none;
   

  }

.card-body1 h4 {
    font-size: 1.4rem;
    padding: 0rem 0;
    text-decoration: none;
    margin-top: 20px;
  }



  .loading{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

.notFound{
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center; 
}