.forma {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:2rem;
    margin:80px;
    padding: 70px;
    border: 0.1rem #000000 solid;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 16px rgb(20 20 20 / 80%); 
    
}

.forma .tabla .btn1 {
    width:300px;
    height:60px;
    border-radius:1rem;
    margin-top: 50px;
   
}

.forma .tabla .btn1:hover{
    color: #ff8000;
    border-color: #ff8000;
}
.forma .foto{
 margin-top: -100px;
}

.forma input{
    margin-top:18px;
}

.forma select {
    margin-top:18px;
}

@media (max-width: 600px) {
    .foto {
      display: none;
    }
    .forma .tabla .btn1{
        width:150px;
        height:60px;
        border-radius:1rem;
        margin-top: 50px;

    }
  }