.home button {
    margin: 40px;
    width:180px;
    height: 30px;
    border-radius:4px;
    margin-bottom:40px;

}

.paginate{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.home button:hover {
    color: #ff8000;
    border-color: #ff8000;
}

.row-center-home{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    align-content:center;
    margin-top: 2rem;
}
